/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
    padding-top: 50px;
}

.vcenter {
    display: flex;
    align-items: center;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}


/* Home
------------------------------------------------*/
/* Carousel base class */
.carousel-main.carousel {
    height: 450px;
    margin-bottom: 60px;
}

/* Declare heights because of positioning of img element */
.carousel-main.carousel .item {
    height: 450px;
}
.carousel-main.carousel-inner > .item > img {
    min-width: 100%;
    height: 450px;
}


/* Projects
-----------------------------------------------*/

.projects {
    margin-top: 30px;
}

.projects .row  {
    margin-bottom: 20px;
}

/* Carousel base class */
.projects .carousel {
    height: 200px;
}

.projects .carousel .item {
    height: 200px;
}

.projects .carousel-inner > .item > img {
    height: 200px;
}


/* About
-------------------------------------------- */
.about {
    margin-top: 20px;
    margin-bottom: 50px;
}

.about .name {
    font-size: 48px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}
.about .title {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 30px;
}
.about .intro {
    padding-top: 90px;
    padding-bottom: 60px;
    font-size: 16px;
}

.about .profile {
    max-width: 800px;
    margin: 0 auto;
}

.about .profile-image {
    width: 160px;
    height: 160px;
}

.about .top-bar {
    position: relative;
    padding-top: 15px;
    padding-bottom: 20px;
}

.about .social {
    margin-bottom: 0;
}
.about .social a {
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding-top: 2px;
    font-size: 16px;
    border: 2px solid;
}

.about .contact-info {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
}

.about .contact-info ul {
    margin-bottom: 0;
}

.about .contact-info li {
    margin-right: 30px;
}

.about .contact-info li:last-child {
    margin-right: 0;
}

.about .contact-info li .fa {
    margin-right: 10px;
}
