body {
    padding-bottom: 40px;
    color: #5a5a5a;
    padding-top: 50px;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

/* Home
------------------------------------------------*/

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

.featurette img {
    width: 500px;
    height: 500px;
}

/* Projects
-----------------------------------------------*/

.projects {
    margin-top: 30px;
}

.projects .row  {
    margin-bottom: 20px;
}


/* About
-------------------------------------------- */
.about {
    margin-top: 60px;
}

.about .name {
    font-size: 48px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}
.about .title {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 30px;
}
.about .intro {
    padding-top: 90px;
    padding-bottom: 60px;
    font-size: 16px;
}

.about .profile {
    max-width: 800px;
    margin: 0 auto;
}

.about .profile-image {
    width: 160px;
    height: 160px;
}

.about .social {
    margin-top: 15px;
    margin-bottom: 15px;
}

.about .social a {
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-clip: padding-box;
    padding-top: 2px;
    font-size: 16px;
    border: 2px solid;
}

.about .contact {
    font-size: 16px;
}

.about .contact ul {
    margin-bottom: 0;
}

.about .contact li {
    margin-right: 30px;
}

.about .contact li:last-child {
    margin-right: 0;
}

.about .contact li .fa {
    margin-right: 10px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

@media (max-width: 768px) {
    /* About
    -------------------------------------------- */
    .about .name {
        font-size: 36px;
    }

    .about .title {
        font-size: 22px;
    }

    .about .contact li {
        margin-bottom: 15px;
        font-size: 14px;
        width: 100%;
    }

    .about .contact li:last-child {
        margin-bottom: 0;
    }
}











/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

.section-white {
   padding: 10px 0;
}

.section-white {
  background-color: #fff;
  color: #555;
}

@media screen and (min-width: 768px) {

  .section-white {
     padding: 1.5em 0;
  }

}

@media screen and (min-width: 992px) {

  .container {
    max-width: 930px;
  }

}
